:root {
	--gray: #595959;
	--hover-blue: #5E83D3;
}
.heading {
	background: #4fcf53;
	background: radial-gradient(
		circle farthest-corner at center center,
		#4fcf53 0%,
		#a8cf0e 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.h2 {
	background: #42cf1f;
	background: linear-gradient(to right, #42cf1f 0%, #c5cf70 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

.body {
	background: rgb(79, 69, 250);
	background: linear-gradient(
		90deg,
		rgba(79, 69, 250, 1) 3%,
		rgba(23, 23, 210, 1) 44%,
		rgba(0, 212, 255, 1) 100%
	);
	background-repeat: no-repeat;
	padding: 1rem;
}
